<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="huangbowen.net.DependecyInjection.ConstructorInjection.SimpleMessageService"/>
    <bean id="messageHandler" class="huangbowen.net.DependecyInjection.SetterInjection.MessageHandler">
        <property name="messageService">
            <ref bean="messageService" />
        </property>
    </bean>

    <bean id="person" class="huangbowen.net.DependecyInjection.SetterInjection.Person">
        <constructor-arg value="Tom"/>
        <property name="age">
            <value type="int">20</value>
        </property>
    </bean>

    <bean id="cat" class="huangbowen.net.DependecyInjection.SetterInjection.Cat">
        <property name="fat" value="true"/>
    </bean>

</beans>